*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    min-height: 50px;
    background-color: blue;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.green {
    background-color: green;
     border: 1px solid blue;
}