*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.he50{
    height: 50px;
}
.box{
    height: 50px;
    background-color: blue;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.green {
    background-color: green;
    text-align: center;
    margin: 5px;
    padding: 10px 0;
}